nav {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    height: 60px;
    width:100%;
    padding-left: 10px;
  


}
nav a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.5s;
    margin-top: 0px;
border-right:2px solid #2c3e50;
border-bottom:2px solid #2c3e50;
margin-left: 30px;
}
nav a:hover{
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 21px;
border-right:2px solid #079b6a;
border-bottom:2px solid #079b6a;



}